.deck {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.dealer,
.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  font-size: 9rem;
  margin: 0.5rem 0;
}

.card-hidden > span:last-of-type {
  display: none;
}

.title {
  margin: 0.6rem 0;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 6px;
}

.btn:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    3px 5px 0px 7px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 3px 5px 0px 7px rgba(0, 0, 0, 0);
}

.btn:focus,
.btn:active {
  transform: scale(1);
  box-shadow: none;
}

.btn-hit {
  border: 1px solid lightgreen;
  background-color: lightgreen;
  border-color: lightgreen;
}

.btn-stay {
  border: 1px solid lightsalmon;
  background-color: lightsalmon;
  border-color: lightsalmon;
}

.btn-surrender {
  border: 1px solid orangered;
  background-color: orangered;
  border-color: orangered;
}

.btn-new {
  border: 1px solid lightskyblue;
  background-color: lightskyblue;
  border-color: lightskyblue;
}
